@import './variables.scss';


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $lightWhite;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
  border: 2px solid $lightWhite;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $orange $lightWhite;
}


body {
  background-color: $lightWhite;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.btn {
  background: $orange;
  color: #ffffff;
  min-width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 32px;
  font-weight: 400;
  
  transition: 0.2s;
  &:hover {
    background: $orange;
    filter: brightness(0.9);
  }
}

.btn-wpp {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
  background: $greenWhatsApp;
  min-width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 32px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  &::after {
    display: none;
  }

  transition: 0.2s;
  &:hover {
    background: $greenWhatsApp;
    filter: brightness(0.8);
  }
}
